body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px 50px;
  background-color: #fff;
  font-size: 14px;
  color: #888;
  z-index: 1;
  /* border-bottom: 1px solid #eee; */
}

.top-left i {
  margin-right: 5px;
  color: #9b59b9;
}

.top-left span {
  margin-right: 15px;
}

.top-right i {
  margin-left: 15px;
  color: #555;
  cursor: pointer;
}

.navbar {
  position: relative;
  z-index: 10;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
}